.sidebar {
    height: 100vh;
    overflow-y: scroll !important;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
.sidebar::-webkit-scrollbar {
    display: none;  /* Safari and Chrome */
}
